@import '~breakpoint-sass/stylesheets/breakpoint';

$color1: #000505ff;
$color2: #3b3355ff;
$color3: #5d5d81ff;
$color4: #bfcde0ff;
$color5: #fefcfdff;

$xs: max-width 768px;
$sm: max-width 992px;
$md: max-width 1200px;
$lg: min-width 1201px;


@mixin space-out($min, $max) {
  @for $i from $min through $max {
    &:first-child:nth-last-child(#{$i}),
    &:first-child:nth-last-child(#{$i}) ~ & {
      width: 1 / $i * 100%;
    }
  }
}
