<div class="left" *ngIf="ownData.currchar">
  <p class="ion-text-center">{{ ownCurrChar.name.split(',')[0] }}</p>
  <ion-img [src]="'../../../../../assets/chars/' + ownCurrChar.name + '.png'">
  </ion-img>
  <div class="hpmanacontainer">
    <div class="hp" [style.width]="(ownCurrChar.currhp / ownCurrChar.basehp * 100)+'%'">
    </div>
  </div>
  <div class="hpmanacontainer">
    <div class="mana" [style.width]="(ownCurrChar.currmana / ownCurrChar.basemana * 100)+'%'">
    </div>
  </div>

</div>
<div class="rigth" *ngIf="enemyData.currchar">
  <p class="ion-text-center">{{ enemyData.currchar.name.split(',')[0] }}</p>
  <ion-img [src]="'../../../../../assets/chars/' + enemyData.currchar.name + '.png'"></ion-img>
  <div class="hpmanacontainer">
    <div class="hp" [style.width]="(enemyData.currchar.currhp / enemyData.currchar.basehp * 100)+'%'">
    </div>
  </div>
  <div class="hpmanacontainer">
    <div class="mana" [style.width]="(enemyData.currchar.currmana / enemyData.currchar.basemana * 100)+'%'">
    </div>
  </div>
</div>
<div style="clear:both"></div>