@import '../../assets/variables';



.menu {
  margin-top: 5px;
  padding: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color4;
  margin-bottom: 20px;
  .tab {
    background-color: $color1;
    color: $color5;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid $color4;
    border-bottom: 0;
    border-left: 0;
    padding: 20px;
    display: inline;
    cursor: pointer;
    &:nth-child(1) {
      border-left: 1px solid $color4;
    }
  }
  .tab:hover {
    background-color: $color2;
  }
  .tab:active {
    background-color: $color3;
  }
  .currentRoute {
    background-color: $color5;
    color: $color1;
    cursor: default;
  }
  .currentRoute:hover {
    background-color: $color5;
  }
}
@include breakpoint($xs) {
  .menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 95;
    height: 50px;
    padding: 0;
    margin: 0;
    border: none;
    display: table;
    table-layout: fixed;
    .tab {
      background-color: $color2;
      margin: 0;
      padding: 0;
      height: 50px;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      text-align: center;
      border: none;
      border-top: 1px solid $color4;
      cursor: pointer;
      i {
        margin-top: 15px;
      }
    }
    .currentRoute {
      background-color: $color5;
      color: $color1;
    }
  }
}

.displayMobile {
  display: none !important;
}
@include breakpoint($xs) {
  .displayLarge {
    display: none !important;
  }
  .displayMobile {
    display: table-cell !important;
  }
}


