@import '../../skills.component.scss';

form {
   @include breakpoint($xs) {
      margin-top: 3%;
    }
  div {
    padding-left: 20px;
    width: calc(100% - 20px);
    @include breakpoint($xs) {
      padding: 0;
      margin-left: 20px;
      width: calc(100% - 40px);
    }
    select, input, textarea  {
      width: 60%;
      padding: 10px;
      margin-left: 10px;
      @include breakpoint($xs) {
        width: calc(100% - 40px);
      }
    }
    .half {
      width: 30%;
      padding: 0;
      margin: 0;
      float: left;
      &:nth-child(2) {
        margin-left: 20px;
      }
      @include breakpoint($xs) {
        width: 100%;
        &:nth-child(2) {
          margin: 0;
        }
      }
      select, input, textarea  {
        width: 100%;
        padding: 10px;
        @include breakpoint($xs) {
          width: calc(100% - 20px);
        }
      }
    }

    .stat {
      width: 100%;
      padding: 0;
      @include breakpoint($xs) {
          width: 100%;
          padding: 0;
          margin: 0;
      }
      .number {
        width: 15%;
        float: left;
        padding: 7px;
        padding-left: 0;
        font-size: 14px;
        div {
          &:nth-child(1) {
            float: left;
            width: 40%;
            padding: 0;
            padding-top: 10.5px;
          }
          &:nth-child(2) {
            width: 60%;
            padding: 0;
            float: right;
            text-align: right;
          }
        }
        @include breakpoint($xs) {
          width: 40%;
          margin: 0;
          div {
            margin: 0;
          }
        }
      }
      input[type=number] {
        width: 0px;
        border: none;
      }
      input[type=range] {
        float: left;
        padding-left: 0;
        padding-right: 0;
        width: calc(45% + 14px);
        @include breakpoint($xs) {
          width: calc(60% - 30px);
        }
      }
    }
  }
  button {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    background-color: $color2;
    width: 50%;
    margin-left: calc(5% + 10px + 20px);
    margin-top: 50px;
    height: 60px;
    cursor: pointer;
    color: $color5;
    border: 0;
    @include breakpoint($xs) {
      width: 80%;
      margin-left: 10%;
    }
    &:hover {
      background-color: $color3;
    }
    &:active {
      background-color: $color4;
    }
  }
}
