<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="person-add-outline"></ion-icon>&nbsp;Registrar
      </ion-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <!-- <div class="button-container">
    
  </div> -->

</ion-content>

<ion-footer class="ion-no-border">
  <ion-button color="dark" expand="block" size="large">
    <ion-icon name="log-in-outline"></ion-icon>&nbsp;Iniciar sesión
  </ion-button>
</ion-footer>