<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Partida vs
      <div class="enemyNameTitle" *ngIf="(enemyData$ | async).name">{{ (enemyData$ | async).name }}</div>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <app-select-character [team]="(ownData$ | async).characters" *ngIf="!(ownData$ | async).currchar"
    (selectCharacter)="selectCharacter($event)">
  </app-select-character>
  <app-current-characters [ownData]="ownData$ | async" [ownCurrChar]="getCurrentCharacter()"
    [enemyData]="enemyData$ | async" *ngIf="(ownData$ | async).currchar && (enemyData$ | async).currchar">
  </app-current-characters>
  <app-skills [ownData]="ownData$ | async" [ownCurrChar]="getCurrentCharacter()"
    *ngIf="(ownData$ | async).currchar && (enemyData$ | async).currchar && (selectedActionEnemy$ | async)"
    (skillSelected)="selectAction($event)">
  </app-skills>
</ion-content>